
/* rating */
.rating-css div{
    color: #8f8420;
    font-size: 30px;
    font-family: sans-serif;
    font-style: 800;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
}
.rating-css input{
    display: none;
}
.rating-css input + label{
    font-size: 60px;
    text-shadow: 1px 1px 0 #8f8420;
    cursor: pointer;
}
.rating-css input:checked + label ~ label {
    color: #b4afaf;
}
.rating-css label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
}
/* end of star rating */
.checked {
    color:  darkslategray;
}

/* payment form */
* {
    box-sizing: border-box;
  }

  .payment-form {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }


  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

  input[type=submit] {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }

  input[type=submit]:hover {
    background-color: #4e45a0;
  }

  .container {
    border-radius: 5px;
    /* background-color: #f2f2f2; */
    padding: 20px;
  }

  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }

  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


